<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace = "exam.test.SingerMapper"> <!-- 패키지 -->
  
  <select id = "getSingerCount" resultType="int">
  	select count(*)
  	from singer_group
  </select>
  
  <select id = "getSingerMember" resultType = "int">
  select member
  from singer_group
  where name=#{name}
  </select>
  
  <select id = "getSingerName" resultType = "String">
  select name
  from singer_group
  where member=#{member}
  </select>
  
  <Sselect id = "getSingerNameMember" resultType = "String">
  select name
  from singer_group
  where member=#{member} and name=#{name}
  </Sselect>
  
  <select id = "getSinger1" resultType="mybatisExam.Singer">
  select *
  from singer_group
  where member=#{member} and name=#{name}
  </select>
  
  <select id = "getSingers" resultType = "mybatisExam.Singer">
  select *
  from singer_group
  where member=#{member}
  </select>
  
  <insert id = "insertSinger">
  insert into singer_group(name, member)
  values(#{name}, #{member})
  </insert>
  
  <update id = "updateSinger">
  update singer_group
  set member=#{member}
  where name=#{name}
  </update>
  
  <delete id = "deleteSinger">
  delete
  from singer_group
  where name=#{name}
  </delete>
  
  </mapper>